* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,header,aside{display: block;}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited, a:hover {text-decoration: none;}
ul, li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: normal;
}

/*=============*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 675px) {
  .about__row {
    flex-direction: column;
  }
  .skills__row {
    flex-direction: column;
  }
  .skills__skill {
    padding: 20px 0;
  }
  .portfolio__row {
    flex-direction: column;
  }
}

.wrapper {
  max-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

content {
  flex: 1 1 auto;
}

header {
  height: 50px;
}

.custom__dot {
  color: #f0454c;
}

/*=============*/

.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  background-color: #aebcbf;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  color: #263742;
}

.navbar__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 18px;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  width: 370px;
  font-size: 12px;
}

.navbar__menu a {
  color: #263742;
}

.navbar__menu a:hover {
  border-bottom: 2px solid #263742;
}

/*=============*/

.about {
  height: auto;
  padding: 70px 0;
  background-color: #ccd5d7;
}

.about__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__me {
  font-family: Montserrat;
  color: #263742;
}

.about__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 53px;
}

.about__text {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

.about__img img {
  width: 323px;
  height: 400px;
}

/*=============*/

.skills {
  height: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #fff;
  font-family: Montserrat;
}

.skills__row {
  display: flex;
  justify-content: space-between;
}

.skills__skill {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.skills__title {
  align-items: stretch;

  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #465065;
}

.skills__text {
  margin-top: 10px;
  font-family: OpenSans;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #9aa0ab;
}

/*=============*/

.portfolio {
  height: auto;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.portfolio__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__img {
  width: 400px;
  height: 400px;
}

.portfolio__info {
  width: 370px;
}

.portfolio__title {
  font-family: Montserrat;
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  color: #314a5b;
}

.portfolio__subtitle {
  margin-top: 15px;
  font-family: OpenSans;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #314a5b;
}

.portfolio__text {
  margin-top: 30px;
  font-family: OpenSans;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: #9aa0ab;
}

.portfolio__text a {
  color: #9aa0ab;
  border-bottom: 1px solid;
}

.portfolio__text ul {
  margin-top: 5px;
}

.portfolio__text li {
  line-height: 2;
  font-size: 15px;
}

/*=============*/

.footer__line {
  width: 100%;
  height: 1px;
  background-color: #e6eaed;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; 
}

.footer__icos {
  display: flex;
  width: auto;
}

.footer__ico {
  padding: 0 10px;
}

.footer__ico img {
  width: 24px;
  height: 24px;
}

.footer__text {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #b9c0c6;
}