<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<h1>SignUp page</h1>
<p>Enter data for new user:</p>

<!-- Need validation !-->
<form action="#" method="post">
    <div><label> Name: <input type="text" name="name"/> </label></div>
    <div><label> Email: <input type="email" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Number: <input type="text" name="number"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>

</body>
</html>